<html>
  <head>
    <title>$i18n.getText("mercurial.repository.activate.all.long")</title>
    <meta name="decorator" content="admin" />
  </head>
  <body>
			<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" action="ViewMercurialRepositories.jspa">
				<table width=100% cellpadding=10 cellspacing=0 border=0>
					<tr>
						<td>
							 <table class="jiraform maxWidth">
								 <tbody>
									 <tr>
										 <td class="jiraformheader">
											 <h3 class="formtitle">$i18n.getText("mercurial.repository.activate.all.long")</h3>
										 </td>
									 </tr>
									 <tr>
											<td class="jiraformheader">
												$i18n.getText("mercurial.repository.activate.all.description")
											</td>
									 </tr>
									 #if ($action.hasAnyErrors())
										 #foreach ($error in $action.getErrorMessages())
											 <tr>
												 <td bgcolor=ffcccc><pre>$error</pre></td>
											 </tr>
										 #end
										 #foreach ($error in $action.errors)
											 <tr>
												 <td bgcolor=ffcccc><pre>$error</pre></td>
											 </tr>
										 #end
									 #else
										 <tr>
											 <td bgcolor=ffffff>$i18n.getText("mercurial.repository.activation.all.successful")</td>
										 </tr>
									 #end
									 </tr>
									 <tr>
										 <td bgcolor=ffffff>&nbsp;</td>
									 </tr>
								 <tr>
										 <td class="fullyCentered jiraformfooter" >
								 <input type="submit" name="ok" value="$i18n.getText("admin.common.words.ok")" accesskey="S" title="Press Alt+Shift+S to submit form" class="spaced" />
										 </td>
									 </tr>
								 </tbody>
							 </table>
						 </td>
					 </tr>
				 </table>
			</form>
  </body>
</html>
