#if (!$req.getParameter("noscript"))
    <script src="$webResourceManager.getStaticPluginResource('net.customware.jira.plugins.mercurial-jira-plugin:mercurial-resource-js', 'mercurial.js')"></script>
#end
<div class="projectPanel">
    <div class="header">
        $action.getText("mercurial.project-release-notes-tab.description")
    </div>

    <table border="0">
        <tr>
            <td colspan="2">&nbsp;
            </td>
        </tr>

        <tr>
            <td valign="top" align="right">* Repo:&nbsp;</td>
            <td>
                <select name="rest_repo">
                    #foreach ($repo in $activerepositories)
                        <option value="${repo.id}">
                            $repo.getDisplayName()
                        </option>
                    #end
                </select><br/>
            ## TODO i18n
                <font size="1">The name of the Mercurial repository as configured in JIRA</font>
            </td>
        </tr>

        <tr>
            <td valign="top" align="right">Artifact Id:&nbsp;</td>
            <td><input name="rest_artifactid" type="text" value=""><br/>
                <font size="1">An optional artifact identifier used by the maven release plugin. If empty, then the first artifact found in the changeset messages is used.</font>
            </td>
        </tr>

        <tr>
            <td valign="top" align="right">Start:&nbsp;</td>
            <td><input name="rest_start" type="text" value=""><br/>
                <font size="1">The revision from which to start the release notes. The default is "PREVIOUS", which will look for the previous release.  Mercurial tags are also supported.</font>
            </td>
        </tr>

        <tr>
            <td valign="top" align="right">End:&nbsp;</td>
            <td><input name="rest_end" type="text" value=""><br/>
                <font size="1">The revision at which to end the release notes. The default is "LATEST", which will look for the latest release. Mercurial tags are also supported.</font>
            </td>
        </tr>

        <!-- Not currently supported
             <tr>
               <td valign="top" align="right">Title Prefix:&nbsp;</td>
               <td><input name="rest_titleprefix" type="text" size="40" value=""><br/>
                   <font size="1">Text that is prepended to the title of the release notes report.</font>
               </td>
             </tr>
             -->

        <tr>
            <td valign="top" align="right">Email:&nbsp;</td>
            <td><input name="rest_email" type="text" size="60" value=""><br/>
                <font size="1">A comma-separated list of email addresses that should receive the HTML release notes.</font>
            </td>
        </tr>

        <tr>
        ## TODO select list of text fields, should be able to use id instead of name
            <td valign="top" align="right">Addressed In field:&nbsp;</td>
            <td><input name="rest_addressedinfieldname" type="text" value=""><br/>
                <font size="1">The optional name of a JIRA text field to be updated with the release name, if a release if found.</font>
            </td>
        </tr>

        <tr>
            <td colspan="2">&nbsp;
            </td>
        </tr>

        <tr>
            <td>&nbsp;
            </td>
            <td>
            ## TODO make this a button with a form instead of a link
            ## <input type="submit" value="$action.getText('mercurial.repository.generate')" onclick="addRestParams(this)">
                <a href="${baseurl}/rest/ct/1.0/reports/release.html" onclick="addRestParams(this); return false;">$action.getText("mercurial.repository.generate") $action.getText("common.concepts.releasenotes")</a>
            </td>
        </tr>

    </table>

</div>
